include pyvfx/boilerplate/resources/main_window.ui
include pyvfx/boilerplate/resources/module.ui
include pyvfx/boilerplate/resources/qpalette_maya2015.json
include pyvfx/boilerplate/resources/qpalette_maya2016.json
